.planet {
    height: 120vh;
    width: 100%;
    background: url("../Photos/sky-stars.jpg") no-repeat;
    background-size:cover;
    display: grid;
    align-items:start;
    justify-items: center;
    color:aliceblue;
    position: relative;
    z-index: 2;

}

.planet__shadow {
    align-self:start;
    background:white;
    width: 100vw;
    box-shadow: 0 0.1vh 4vh 2vh rgb(0, 0, 0),0 -0.1vh 2vh 2vh rgb(0, 0, 0) ;
}

.planet__inf img {
    width: 30vw;
}


.planet__inf {
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items:center;
    justify-items: stretch;
    background-color: rgba(65, 65, 65, 0.74);
    padding: 1vw;
    border-radius:1vw;
}


.planet__inf p {
    width: 48vw;
    font-size: 1.2vw;
    text-indent: 2vw;
}

.planet__wrapper {
    display: grid;
}

.planet__inf h2 {
    justify-self:center;
}

/**Стилизация таблицы планет**/
.planet__tabel {
    background-color: rgba(65, 65, 65, 0.74);
    padding: 2vw;
    border-radius:1vw;
    line-height: 2vw;
    font-size: 1.5vw;
    text-align: center;
}

.planet__tabel td {
    padding-right:1vw;
    padding-left: 1vw;
}
