/*Превьюшка сайта*/
body {
    margin:auto;
    overflow: hidden;
}

.start {
    background-color: rgb(29,29,29);
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 30%;
    align-items: center;
    transition-duration: 2s;
    position: fixed;
    z-index: 2;
}

.start__solar-system {
    margin-left:-11vw;
    width: 115%;
}

.start__click {
    box-shadow: 0 0 0.5vw antiquewhite;
    text-shadow: 0 0 0.5vw antiquewhite;
    text-align: center;
    font-size: 1.3vw;
    padding:1vw;
    color:antiquewhite;
    border: 0.20vw solid antiquewhite;
    border-radius: 1vw;
    text-decoration: none;
}

.start__click:hover{
    opacity: 0.4;
    transition-duration: 0.2s;
}

/*Щапка сайта*/
.video-header {
    width: 100%;
}

/*Меню навигации*/
.menu {
    margin-top: 3vw;
    width: 100vw;
    height: 5vw;
    position: fixed;
    z-index:1;
    display: grid;
}

.menu__list {
    align-self: center;
    font-size: 2vw;
    text-align: center;
    padding: 0;
    display: grid;
    margin: auto;
    width: 80vw;
    grid-template-columns: repeat(5, auto);
}

.menu__item ol {
    position:absolute;
    display: none;
    color: antiquewhite;
    list-style-type:upper-roman ;
    padding-top: 0.5vw;
    margin-left: 0.8vw;
    font-size: 1.7vw;
}

.menu__item {
    list-style-type: none;
}

.menu__item a{
    text-shadow: 0 0 1vw antiquewhite;
    text-decoration: none;
    color:antiquewhite;
}

.menu__item a:hover{
    opacity: 0.4;
    transition-duration: 0.2s;
}

.menu__item:nth-child(2):hover ol {
    display:block;
}

ol li {
    text-shadow: 0 0 1vw antiquewhite;
    color:antiquewhite;
}

ol li:hover {
    opacity:
}